<div class="ui-g-12 ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
    <input #term type="text" (keyup)="search(term.value)" class="form-control" pInputText placeholder="Search user...">
</div>

<p-panel *ngIf="user.id" class="ui-g-12 user" header="User">
    <h2>Name: {{ user.display_name }}</h2> 
    <h3>Username: {{ user.id }}</h3>
    <h4>Followers: {{ user.followers.total }}</h4>
</p-panel>

<p-panel *ngIf="playlists" class="ui-g-12" header="Playlists">
    <div class="ui-g">
    <p-card class="ui-g-12 ui-md-6 ui-lg-4" *ngFor="let playlist of playlists" header="{{playlist.name}}" subheader="{{playlist.owner.display_name}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="{{playlist.images[0].url}}">
        </p-header>
    </p-card></div>
</p-panel>